<div class="col-sm-12">
    <div class="row">
        <h3>Dashboard</h3>
        <div class="well col-sm-12" ng-controller="DashboardController">

            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">

                    <div class="panel-heading">Parts awaiting arrival</div>
                    <div class="panel-body">

                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>RecordNo.</th>
                                <th>OrderNo.</th>
                                <th>Qty</th>
                                <th>PartNo</th>
                                <th>Days</th>
                                <th style="width:20px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="fourteenDays? 'pinkBackground': 'regular'" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="record in records">
                                <td><a href=""></a>{{record._id}}</a></td>
                                <td>{{record.WorkOrderNo}}</td>
                                <td>{{record.Parts[0].Qty}}</td>
                                <td>{{record.Parts[0].PartNo}}</td>
                                <td>{{record.Parts[0].OrderedOn}}</td>
                                <td class="btn btn-primary" ng-click="completeOrder()">Recieved</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

