<div class="col-sm-12">
    <div class="row">
        <h3>Dashboard</h3>
        <div class="well col-sm-12" ng-controller="DashboardController">

            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    
                    <div class="panel-heading">Parts awaiting arrival</div>
                    <div class="panel-body">

                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>RecordNo.</th>
                                <th>OrderNo.</th>
                                <th>Qty</th>
                                <th>PartNo</th>
                                <th>Days</th>
                                <th style="width:20px"></th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

