<div ng-controller="CompleteController">
    <div class="modal fade" id="CompleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Complete This Record</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-1">Action</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" style="margin-top:4px" rows="4" ng-model="Completed.ActionNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top:8px">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Rep</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Repaired by" ng-model="Completed.RepairedBy">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Repair Date" ng-model="Completed.Date">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Claim#</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Claim No" ng-model="Completed.ClaimNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Warranty</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Warranty" ng-model="Completed.Warranty">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="Complete()">Complete</button>
                </div>
            </div>
        </div>
    </div>
</div>
